In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [7]:
# Store the CSV you saved created in part two into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")

In [13]:
city_data_df.head(50)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,13,Mogadishu,SO,82.51,light rain,2.04,45.34,Hotel Juba
1,28,Khorixas,NaN,72.54,light rain,-20.37,14.97,Khorixas Lodge
2,32,Katsuura,JP,60.26,light rain,35.13,140.30,Katsuura Hotel Mikazuki
3,41,Albany,US,50.00,light rain,42.60,-73.97,NaN
4,57,Poum,NC,80.60,light rain,-20.23,164.02,Gîte kajeon
5,58,Balabac,PH,87.67,light rain,7.99,117.06,Sing and Swing Lodge
6,62,Kavieng,PG,84.33,light rain,-2.57,150.80,Nusa Island Retreat
7,66,Bluff,NZ,55.99,light rain,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
8,99,Faanui,PF,82.24,light rain,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
9,100,Japura,ID,88.66,light rain,-0.32,102.35,KOST dan HOMESTAY RUMAH KITA JOSH
10,103,Busselton,AU,66.99,light rain,-33.65,115.33,Observatory Guest House
11,104,Harper,LR,80.53,light rain,4.38,-7.72,Cape View Guest House
12,107,Mana,GF,77.13,moderate rain,5.66,-53.78,LE SAMANA
13,112,Ahipara,NZ,64.58,moderate rain,-35.17,173.17,Ahipara Holiday Park
14,119,Tezu,IN,70.41,light rain,27.92,96.17,Circuit House
15,127,Cayenne,GF,77.00,moderate rain,4.93,-52.33,Hôtel Le Dronmi
16,143,Manono,CD,68.50,light rain,-7.30,27.42,Hotel hewa bora
17,150,Merauke,ID,89.24,light rain,-8.47,140.33,NaN
18,151,Aljezur,PT,57.99,light rain,37.32,-8.80,Amazigh Hostel
19,153,Namibe,AO,74.39,light rain,-15.20,12.15,Chik-Chik Namibe
20,166,Padang,ID,88.18,light rain,-0.95,100.35,Mercure Padang
21,171,Garissa,KE,76.48,light rain,-0.45,39.64,Almond Resort
22,180,Pouembout,NC,78.96,moderate rain,-21.13,164.90,Camping de Tipenga
23,186,Tura,IN,79.81,light rain,25.52,90.22,Hotel RIKMAN Continental
24,188,Morros,BR,72.45,light rain,-9.45,-46.30,NaN
25,200,Lorengau,PG,84.49,light rain,-2.02,147.27,Lorengau Harbourside Hotel
26,202,Angra Dos Reis,BR,69.33,light rain,-23.01,-44.32,Mercure Angra dos Reis
27,204,Pilar,BR,75.52,light rain,-9.60,-35.96,Pousada Manguaba
28,209,Dingle,PH,89.37,light rain,11.00,122.67,Camp Pasica
29,214,Buala,SB,84.38,light rain,-8.14,159.59,Maringe Lagoon Lodge
30,217,New Norfolk,AU,62.01,light rain,-42.78,147.06,The Shingles Riverside Cottages
31,231,Burnie,AU,61.00,light rain,-41.07,145.92,Beachfront Voyager Motor Inn
32,239,Yekepa,LR,70.41,light rain,7.58,-8.54,Alvino Hotel
33,246,Prainha,BR,72.63,light rain,-1.80,-53.48,Hotel Teixeira
34,247,Port Blair,IN,84.47,light rain,11.67,92.75,Hotel Sentinel
35,248,Tagusao,PH,86.29,light rain,9.19,117.81,"Shaman's Breath- Beach, Bed & Breakfast"
36,249,Butaritari,KI,83.77,light rain,3.07,172.79,Isles Sunset Lodge
37,251,Irituia,BR,74.17,light rain,-1.77,-47.44,Hotel Victória
38,257,Peniche,PT,57.00,light rain,39.36,-9.38,Hotel Star inn Peniche
39,264,Vao,NC,73.98,heavy intensity rain,-22.67,167.48,Hotel Kou-Bugny
40,292,Sumbe,AO,76.50,moderate rain,-11.21,13.84,Hotel Ritz Sumbe
41,295,Balsas,BR,73.80,light rain,-7.53,-46.04,Novo Hotel
42,303,Sinnamary,GF,78.67,moderate rain,5.38,-52.95,ALETHEIA Appartement Sinnamary
43,311,Marawi,PH,82.49,light rain,8.00,124.29,Derogongan Residence
44,331,Samarai,PG,84.61,light rain,-10.62,150.67,Nuli Sapi
45,339,Golubitskaya,RU,51.80,light rain,45.32,37.28,Parus
46,353,Batticaloa,LK,86.29,light rain,7.71,81.69,Grand Star Guest House
47,354,Maues,BR,72.34,light rain,-3.38,-57.72,Hotel Miramar
48,357,Bendigo,AU,72.00,light rain,-36.77,144.28,The Hotel Shamrock
49,362,Chake Chake,TZ,80.17,light rain,-5.25,39.77,Hotel Archipelago

In [71]:
Busselton = city_data_df[city_data_df['City'].str.contains("Busselton")]
Busselton

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,103,Busselton,AU,66.99,light rain,-33.65,115.33,Observatory Guest House

In [75]:
New_Norfolk = city_data_df[city_data_df['City'].str.contains("New Norfolk")]
New_Norfolk

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
30,217,New Norfolk,AU,62.01,light rain,-42.78,147.06,The Shingles Riverside Cottages

In [76]:
Burnie = city_data_df[city_data_df['City'].str.contains("Burnie")]
Burnie

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,231,Burnie,AU,61.0,light rain,-41.07,145.92,Beachfront Voyager Motor Inn

In [77]:
Bendigo = city_data_df[city_data_df['City'].str.contains("Bendigo")]
Bendigo

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
48,357,Bendigo,AU,72.0,light rain,-36.77,144.28,The Hotel Shamrock

In [78]:
four_cities = pd.concat([Busselton, New_Norfolk, Burnie, Bendigo])
four_cities

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,103,Busselton,AU,66.99,light rain,-33.65,115.33,Observatory Guest House
30,217,New Norfolk,AU,62.01,light rain,-42.78,147.06,The Shingles Riverside Cottages
31,231,Burnie,AU,61.00,light rain,-41.07,145.92,Beachfront Voyager Motor Inn
48,357,Bendigo,AU,72.00,light rain,-36.77,144.28,The Hotel Shamrock

In [79]:
columns = four_cities.loc[:,['City','Lat','Lng']]
columns

           City    Lat     Lng
10    Busselton -33.65  115.33
30  New Norfolk -42.78  147.06
31       Burnie -41.07  145.92
48      Bendigo -36.77  144.28

In [84]:
# Import more dependencies.
import gmaps
import gmaps.datasets
import requests

# Import the API key.
from config import g_key
gmaps.configure(api_key= g_key)

In [81]:
# Latitude-longitude pairs.
Busselton = (-33.65, 115.33)
New_Norfolk = (-42.78, 147.06)
Burnie = (-41.07, 145.92)
Bendigo = (-36.77, 144.28)

# Directions Layer.
fig = gmaps.figure()
Busselton2Bendigo = gmaps.directions_layer(Busselton, New_Norfolk, waypoints=[Burnie, Bendigo])
fig.add_layer(Busselton2Bendigo)
fig

Figure(layout=FigureLayout(height='420px'))

In [98]:
# Travel mode = Driving.
fig = gmaps.figure()
Busselton2Bendigo_via_driving = gmaps.directions_layer(
        Busselton, New_Norfolk, waypoints=[Burnie, Bendigo],  
        travel_mode='DRIVING')
fig.add_layer(Busselton2Bendigo_via_driving)
fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in four_cities.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        four_cities.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [87]:
# Infobox.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
four_cities_hotel_info = [info_box_template.format(**row) for index, row in four_cities.iterrows()]

In [97]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = four_cities[["Lat", "Lng"]]
max_temp = four_cities["Max Temp"]
fig = gmaps.figure(center=(-30, 130), zoom_level=3.75)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=four_cities_hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))